h1#codegeographic {
    height: 463px;
    background-image: url(https://floledermann.github.io/code-geo-graphic/images/from-pixel-to-code.png);
    font-size: 3.5em;
    padding-top: 40px;
    text-shadow: white 0px 0px 10px;
